* {margin:0; padding:0; text-indent:0; }
h3 { font-style: normal; font-weight: bold; text-decoration: none; font-size: 11pt; }
.p, p { font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; margin:0pt; }
h1 { font-style: normal; font-weight: bold; text-decoration: none; font-size: 14pt; }
h2 { font-style: normal; font-weight: bold; text-decoration: none; font-size: 12pt; }
a { font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; }
.s1 { font-style: normal; font-weight: normal; text-decoration: none; font-size: 7pt; vertical-align: 3pt; }
li {display: block; }
#l1 {padding-left: 0pt;counter-reset: c1 1; }
#l1> li>*:first-child:before {counter-increment: c1; content: counter(c1, decimal)". "; font-style: normal; font-weight: bold; text-decoration: none; font-size: 11pt; }
#l1> li:first-child>*:first-child:before {counter-increment: c1 0;  }
#l2 {padding-left: 0pt; }
#l2> li>*:first-child:before {content: "● "; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; }
#l3 {padding-left: 0pt; }
#l3> li>*:first-child:before {content: "● "; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; }
#l4 {padding-left: 0pt; }
#l4> li>*:first-child:before {content: "● "; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; }
#l5 {padding-left: 0pt; }
#l5> li>*:first-child:before {content: "● "; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; }
#l6 {padding-left: 0pt; }
#l6> li>*:first-child:before {content: "● "; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; }
#l7 {padding-left: 0pt; }
#l7> li>*:first-child:before {content: "● "; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; }
li {display: block; }
#l8 {padding-left: 0pt; }
#l8> li>*:first-child:before {content: "● "; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; }
li {display: block; }
#l9 {padding-left: 0pt;counter-reset: e1 1; }
#l9> li>*:first-child:before {counter-increment: e1; content: counter(e1, decimal)". "; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; }
#l9> li:first-child>*:first-child:before {counter-increment: e1 0;  }
#l10 {padding-left: 0pt;counter-reset: e2 2; }
#l10> li>*:first-child:before {counter-increment: e2; content: counter(e2, lower-latin)". "; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; }
#l10> li:first-child>*:first-child:before {counter-increment: e2 0;  }
#l11 {padding-left: 0pt;counter-reset: f1 1; }
#l11> li>*:first-child:before {counter-increment: f1; content: counter(f1, lower-latin)". "; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; }
#l11> li:first-child>*:first-child:before {counter-increment: f1 0;  }
#l12 {padding-left: 0pt;counter-reset: g1 1; }
#l12> li>*:first-child:before {counter-increment: g1; content: counter(g1, lower-latin)". "; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; }
#l12> li:first-child>*:first-child:before {counter-increment: g1 0;  }
#l13 {padding-left: 0pt;counter-reset: h1 1; }
#l13> li>*:first-child:before {counter-increment: h1; content: counter(h1, lower-latin)". "; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; }
#l13> li:first-child>*:first-child:before {counter-increment: h1 0;  }
#l14 {padding-left: 0pt;counter-reset: i1 1; }
#l14> li>*:first-child:before {counter-increment: i1; content: counter(i1, lower-latin)". "; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; }
#l14> li:first-child>*:first-child:before {counter-increment: i1 0;  }
#l15 {padding-left: 0pt;counter-reset: j1 1; }
#l15> li>*:first-child:before {counter-increment: j1; content: "("counter(j1, lower-roman)") "; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; }
#l15> li:first-child>*:first-child:before {counter-increment: j1 0;  }
#l16 {padding-left: 0pt;counter-reset: j2 1; }
#l16> li>*:first-child:before {counter-increment: j2; content: "("counter(j2, lower-latin)") "; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; }
#l16> li:first-child>*:first-child:before {counter-increment: j2 0;  }
#l17 {padding-left: 0pt;counter-reset: k1 1; }
#l17> li>*:first-child:before {counter-increment: k1; content: counter(k1, lower-latin)". "; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; }
#l17> li:first-child>*:first-child:before {counter-increment: k1 0;  }
